<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Current Weather Conditions in Gatineau, Quebec, Canada</title>

        <link rel="stylesheet" href="/tcort.css">
    </head>
    <body>

        <main>
            <section>
                <h2>Gatineau, Quebec, Canada</h2>
                <p>Last update: {{timestamp}}</p>
                <table>
                    <tbody>
                        <tr>
                            <th scope="ltr">Temperature</th>
                            <td>{{temperature_c}}&deg;C</td>
                        </tr>
                        <tr>
                            <th scope="ltr">Heat Index</th>
                            <td>{{heat_index_c}}&deg;C</td>
                        </tr>
                        <tr>
                            <th scope="ltr">Relative Humidity</th>
                            <td>{{relative_humidity}}%</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>Historical Statistics</h3>
                <p>
                    Compiled from {{stats.nevents}} events captured between {{stats.first}} and {{stats.last}}
                <p>
                <table>
                    <tr>
                        <th scope="col">Period</th>
                        <th scope="col">Low</th>
                        <th scope="col">Avg</th>
                        <th scope="col">High</th>
                    </tr>
                    <tr>
                        <th scope="ltr">Last 24 Hours</th>
                        <td>{{stats.lastDay.min_c}}&deg;C</td>
                        <td>{{stats.lastDay.avg_c}}&deg;C</td>
                        <td>{{stats.lastDay.max_c}}&deg;C</td>
                    </tr>
                    <tr>
                        <th scope="ltr">Last 7 Days</th>
                        <td>{{stats.lastWeek.min_c}}&deg;C</td>
                        <td>{{stats.lastWeek.avg_c}}&deg;C</td>
                        <td>{{stats.lastWeek.max_c}}&deg;C</td>
                    </tr>
                    <tr>
                        <th scope="ltr">Last 30 Days</th>
                        <td>{{stats.lastMonth.min_c}}&deg;C</td>
                        <td>{{stats.lastMonth.avg_c}}&deg;C</td>
                        <td>{{stats.lastMonth.max_c}}&deg;C</td>
                    </tr>
                    <tr>
                        <th scope="ltr">All Time</th>
                        <td>{{stats.allTime.min_c}}&deg;C</td>
                        <td>{{stats.allTime.avg_c}}&deg;C</td>
                        <td>{{stats.allTime.max_c}}&deg;C</td>
                    </tr>
                </table>
            </section>
        </main>

        <footer>
            <p>
                <small>
                    Copyright &copy; 2024 Thomas Cort
                </small>
            </p>
        </footer>

        <script src="/jquery.min.js"></script>
        <script src="/tcort.js"></script>

    </body>
</html>
