<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Current Weather Conditions in Gatineau, Quebec, Canada</title>

        <link rel="stylesheet" href="/tcort.css">
    </head>
    <body>

        <main>
            <section>
                <h2>Gatineau, Quebec, Canada</h2>
                <p>Last update: {{timestamp}}</p>
                <table>
                    <tbody>
                        <tr>
                            <th scope="ltr">Temperature</th>
                            <td>{{temperature_c}}&deg;C</td>
                        </tr>
                        <tr>
                            <th scope="ltr">Heat Index</th>
                            <td>{{heat_index_c}}&deg;C</td>
                        </tr>
                        <tr>
                            <th scope="ltr">Relative Humidity</th>
                            <td>{{relative_humidity}}%</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>Historical Data</h3>
                <p>
                    Compiled from {{stats.nevents}} events captured between {{stats.first}} and {{stats.last}}
                <p>
                <canvas id="line-chart"></canvas>
            </section>
        </main>

        <footer>
            <p>
                <small>
                    Copyright &copy; 2024 Thomas Cort
                </small>
            </p>
        </footer>

        <script src="/jquery.min.js"></script>
        <script src="/tcort.js"></script>
        <script src="/chartjs/package/dist/chart.umd.js"></script>

        <script>

        new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [
                    {{#each stats.byMonth}}"{{d}}",
                    {{/each}}
            ],
            datasets: [
                { 
                    data: [
                        {{#each stats.byMonth}}{{min}},
                        {{/each}}
                    ],
                    label: "Min",
                    tension: 0.69,
                    borderColor: "#3e95cd",
                    fill: +2 
                },
                { 
                    data: [
                        {{#each stats.byMonth}}{{avg}},
                        {{/each}}
                    ],
                    label: "Average",
                    tension: 0.69,
                    borderColor: "#95cd3e",
                    fill: false,
                },
                { 
                    data: [
                        {{#each stats.byMonth}}{{max}},
                        {{/each}}
                    ],
                    label: "Max",
                    tension: 0.69,
                    borderColor: "#cd3e95",
                    fill:false 
                }
            ]
        },
        options: {
            title: {
            display: true,
            text: 'World population per region (in millions)'
            }
        }
        });
        </script>

    </body>
</html>
